name: godot-export-deploy-on-tag
on:
  push:
    tags:
      - "v*"
jobs:
  get_info:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_ver.outputs.version }}
      version-without-v: ${{ steps.get_ver.outputs.version-without-v }}
      require_wine: ${{ steps.project_info.outputs.require_wine }}
      html5_artifact: ${{ steps.project_info.outputs.html5_artifact }}
      windows_artifact: ${{ steps.project_info.outputs.windows_artifact }}
      osx_artifact: ${{ steps.project_info.outputs.osx_artifact }}
      linux_artifact: ${{ steps.project_info.outputs.linux_artifact }}
      android_artifact: ${{ steps.project_info.outputs.android_artifact }}
      itch_project_name: ${{ steps.project_info.outputs.itch_project }}
    steps:
      #https://github.com/marketplace/actions/get-version
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Get Version
        id: get_ver
        uses: battila7/get-version-action@v2.2.1
      - name: Get Godot Project Info
        id: project_info
        uses: pbytestudios/Godot-info-action@master
        with:
          relative_project_path: ./project
  godot_export:
    needs: get_info
    uses: ./.github/workflows/godot-export.yml
    with:
      godot_download_sub_path: 3.5.2/Godot_v3.5.2-stable
      exporting_win_build: ${{ needs.get_info.outputs.require_wine == 'true' }}   
  itch_deploy:
    needs: [get_info, godot_export]
    uses: ./.github/workflows/itch-deploy.yml
    with:
      itch_project: ${{ needs.get_info.outputs.itch_project_name }}
      version_string: ${{ needs.get_info.outputs.version-without-v }}
      tag_name: ${{ needs.get_info.outputs.version }}
      #TODO: specify all archive outputs you want deployed to itch
      #Note: These must have the same name as the godot exports in the export_presets.cfg file!
      html5_archive: ${{ needs.get_info.outputs.html5_artifact }} 
      win_archive: ${{ needs.get_info.outputs.windows_artifact }} 
      osx_archive: ${{ needs.get_info.outputs.osx_artifact }}
      linux_archive: ${{ needs.get_info.outputs.linux_artifact }}
      android_archive: ${{ needs.get_info.outputs.android_artifact }}
    #THIS IS CRITICAL!
    secrets: inherit
      